@import "tailwindcss";

@theme {
  --color-brand-blue: #2563eb;
  --font-sans: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

/* Helper class cho Material Symbols để căn chỉnh tốt hơn */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
  font-size: 20px !important; /* Default size for icons */
}